.del-modl-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  /* color: white; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  visibility: hidden;
  opacity: 0;
}

.show {
  visibility: visible;

  opacity: 1;
  transition: opacity 0.35s ease-in-out;
}

.hide {
  visibility: hidden;
  opacity: 0;
  transition: all 0.55s ease-in-out;
}

.del-modl-content {
  /* border: 1px solid sandybrown; */
  border-radius: 3px;
  overflow: hidden;
  height: 30vh;
  width: 50%;
  display: flex;
}

.del-modl-content-left {
  width: 50%;
  border: 1px solid silver;

  /***** ANIMATION 1 *****/
  /* transform: translate(-50px, -20px) rotate(30deg);
  transform-origin: left top; */

  /***** ANIMATION 2 *****/
  opacity: 0;
  transform: rotateY(-80deg);
  transform-origin: left center;
}
.show.del-modl-content-left {
  /***** ANIMATION 1 *****/
  /* transform: translate(0, 0);
  transition: transform 0.45s ease-in-out; */

  /***** ANIMATION 2 *****/
  opacity:  1;
  transform: rotateY(0deg);
  /* transition: transform 0.4s ease-in-out 0s, opacity .45s ease-in-out .45s; */
  transition: transform 0.4s ease-in-out;
}
.hide.del-modl-content-left {
  opacity: 0;
  transform: rotateY(-80deg);
  transform-origin: left center;
  transition: transform 0.4s ease-in-out;
}

.del-modl-content-left-img {
  width: 100%;
}

.del-modl-content-right {
  width: 50%;
  border: 1px solid silver;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;

  /***** ANIMATION 1 *****/
  opacity: 0;
  transform: rotateY(-80deg);
  transform-origin: left center;
  
  /***** ANIMATION 2 *****/
  /* opacity: 0;
  transform: rotate(-80deg);
  transform-origin: left center; */
}
.show.del-modl-content-right {
  /***** ANIMATION 1 *****/
  opacity: 1;
  transform: rotateY(0deg);
  transition: transform .45s ease-in-out .45s, opacity .45s ease-in-out .45s;
  
  /***** ANIMATION 2  *****/
  /* opacity: 1;
  transform: rotate(0deg);
  transition: all .55s ease-in-out; */
}

.del-modl-content-right > p {
  color: #dc3454;
  /* color: #dc3545; */
}


